//== ScreenSize

//== Colors
$global-font-grey: rgba(255, 255, 255, 0.65);

//== Font
$global-font-size: 14px;

//== Width
$logo-width: 120px;

//== Height
$logo-height: 31px;

//== Position

//== Shape
