@import "../../styles/variables";
@import "../../styles/mixin";

.home-page-wrapper {
  .logo {
    @include size($logo-width, $logo-height);
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }
}
